div {
  display: block;
}

h1 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 16px;
  padding-left: 20px;
}

.line {
  width: 60px;
  height: 5px;
  background-color: black;
  /* padding: 4px; */
  margin-left: 20px;
  bottom: 610px;
}

img {
  /* aplico el mismo nuevo tamaño a las imágenes */
  width: 150px;
  height: 150px;
  padding: 20px;
}

div {
  float: left;
}

.part2 {
  clear: both;
}

p {
  position: relative;
  left: 23%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  bottom: 50px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
